DISCOVERY_PORT=7000
GATEWAY_PORT=8080
AUTH_PORT=7101
ROOMS_PORT=7102
GUESTS_PORT=7103
OPERATIONS_PORT=7104
FINANCE_PORT=7105
EMPLOYEES_PORT=7106
NOTIFICATIONS_PORT=7107

JWT_DEMO_SECRET=simot-local-secret
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=SIMOT Wild Incas <no-reply@wildincas.local>
MAIL_SECURE=false
APP_PUBLIC_URL=http://127.0.0.1:5173
GATEWAY_PUBLIC_URL=http://127.0.0.1:8080
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_JWKS_URL=
